In [ ]:
def getfractorial(n):
    if n==0 or n==1, return 1
    else return

In [3]:
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

In [4]:
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
4
5
6

In [12]:
#question
def mysum(L): 
    sum = 0
    for i in len(L):
        sum += L[i]
    return sum

a=[1,2,3,4]
mysum(a)

TypeError: 'int' object is not iterable

In [10]:
def mysum(L):
    if L == []:
        return 0
    else:
        return L[0] + mysum(L[1:])

mysum([2,4,1,5])

12

In [33]:
L=[2,4,1,5]
print(L[-4:2])

[2, 4]

In [107]:
#takes "n" and return the sum of first "n". ie: sum(5)=1+2+3+4+5
def sum(n):
    a = 0
    if n == 0:
        return a
    else:
        a = n + sum(n-1)
        return a
  
sum(5)

15

In [104]:
def sum(n):
    if n == 0:
        return 0
    
    else:
        return n + sum(n-1)
    
sum(5)

15

In [98]:
def sum(n):
    sum = 0
    for i in range(0,n+1):
        sum += i
    return sum
  
sum(5)

15

In [83]:
#find the max of the list 
#recurison method
def find_max(L):
    if len(L)==1:
        return L[0]
    else:
        return max(L[0], find_max(L[1:]))

L = [3,4,5,8,7]
find_max(L)

8

In [ ]:
#find the min of the list 
#recurison method
def find_max(L):
    if len(L)==1:
        return L[0]
    else:
        return min(L[0], find_max(L[1:]))

L = [3,4,5,6,7]
find_max(L)

In [64]:
def find_max(input_list):
    
    #base code
    if len(input_list) == 1:
        return input_list[0]
    
    #recursive case
    
    else:
        return max(input_list[0], find_max(input_list[1:]))
    
list = [999,888,6666]
find_max(list)

6666

In [50]:
list=[9,3,4]
list[1:]

[3, 4]

In [ ]:
#find the max of the list 
#iterative method
def find_max(L):
    for i in range(0, len(L))

In [119]:
# return "n" to "1" number
#attempt 1
def recur(x):
    # base case
    if x == 0:
        print(x)
    
    #recur case
    else:
#         print(x)
#         recur(x-1)
        print((x), recur(x-1))
    
#     recur(x-1)
#     print(x)

recur(5)

0
1 None
2 None
3 None
4 None
5 None

In [80]:
#attempt 2
def recur(x):
    # base case
    if x == 1:
        return 1
    
    #recur case
    else:
        return x and recur(x-1)

recur(10)

1

In [87]:
mylist= [2,4,1,5]

def mysum(L):
    if len(L) == 0:
        return 0

    else:
        return(L[0] + mysum(L[1:]))

mysum(mylist)

12

15